---
layout: default
title: Home
---

<div class="feature">
  {% assign post = site.posts.first %}

  <div class="feature-text movetxt">
    <time
      datetime="{{ post.date | date_to_xmlschema }}"
      class="feature-post-date"
      >{{ post.date | date_to_string }}</time
    >
    <h1 class="feature-title">{{ post.title }}</h1>
    <div class="feature-subtitle">
      {{ post.excerpt }}
    </div>
  </div>
  <!-- <a class="feature-link" href="{{ site.baseurl }}{{ post.url }}">
    <div id="readnow">Read Now</div>
  </a> -->
  <div class="layer">
    <div class="feature-img" style="background-image: url(img/03.jpg);"></div>
  </div>
</div>

<!-- <div>
  {% for post in site.posts %} {% if forloop.index > 1 %}
  <h1 class="post-title">
    <a href="{{ site.baseurl }}{{ post.url }}">
      {{ post.title }}
    </a>
  </h1>

  <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date"
    >{{ post.date | date_to_string }}</time
  >
  {{ post.excerpt }}
  <hr />
  {% endif %} {% endfor %}
</div> -->

<!-- <div id="menu">
  <a href="mailto:erwin@edegier.nl"
    ><img class="menu-icon" src="img/email.svg"
  /></a>
  <a href="https://github.com/erwindeg"
    ><img class="menu-icon" src="img/github.svg"
  /></a>
  <a href="https://nl.linkedin.com/in/erwindegier"
    ><img class="menu-icon" src="img/linkedin.svg"
  /></a>
  <a href="http://stackoverflow.com/users/4685029/erwin-de-gier"
    ><img class="menu-icon" src="img/stackoverflow.svg"
  /></a>
  <a href="https://twitter.com/erwindeg"
    ><img class="menu-icon" src="img/twitter.svg"
  /></a>
</div> -->
