---
layout: default
title: Home
---

<div class="feature">
  {% assign post = site.posts.first %}

  <div class="feature-text movetxt">
    <!-- <time
      datetime="{{ post.date | date_to_xmlschema }}"
      class="feature-post-date"
      >{{ post.date | date_to_string }}</time
    > -->
    <h1 class="feature-title">{{ post.title }}</h1>
    <div class="feature-subtitle">
      {{ post.excerpt }}
    </div>
  </div>
  <!-- <a class="feature-link" href="{{ site.baseurl }}{{ post.url }}">
    <div id="readnow">Read Now</div>
  </a> -->
  <div class="layer">
    <div class="feature-img" style="background-image: url(img/jf.jpg);"></div>
  </div>
</div>

<div class="posts-container">
  <div class="row">
    {% for post in site.posts %} {% if forloop.index > 1 %}
    <div class="column">
      <div class="article">
        <div class="article-head">
          <img src="{{ site.url }}{{post.image}}" />
        </div>
        <div class="article-content">
          <h2>{{post.title}}</h2>
          <p>{{ post.excerpt }}</p>
        </div>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>
</div>

{% include bottom-menu.html %}
